settings:
  legacy:
    force: false
    interval: 0s
schema:
- name: cron-server
  path: .
  commands:
    run:
      status: true
  args:
    - -m
    - examples/manifest.yml
    - --project-id
    - your-project-id
    - --credentials-file
    - /your/service-account-json-file/here
  watcher:
    paths:
    - /
    extensions:
    - go
    ignored_paths:
    - .git
    - .realize
    - vendor
    - cron-service
    - cron-service-go-tmp-umask
